// golden replay `tandem` — REPLAY_VERSION 4
// regenerate: UPDATE_GOLDENS=1 cargo test -p battle --test goldens
[
    TurnStarted(
        n: 1,
    ),
    MoveUsed(
        side: 0,
        slot: 0,
        move_id: "singe",
    ),
    DamageDealt(
        target: 1,
        target_slot: 0,
        amount: 65,
        crit: false,
        effectiveness: Double,
    ),
    Fainted(
        target: 1,
        slot: 0,
    ),
    ExpGained(
        side: 0,
        slot: 0,
        amount: 321,
    ),
    ExpGained(
        side: 0,
        slot: 1,
        amount: 321,
    ),
    MoveUsed(
        side: 0,
        slot: 1,
        move_id: "surge",
    ),
    DamageDealt(
        target: 1,
        target_slot: 1,
        amount: 68,
        crit: true,
        effectiveness: Double,
    ),
    MoveUsed(
        side: 1,
        slot: 1,
        move_id: "toll",
    ),
    DamageDealt(
        target: 0,
        target_slot: 0,
        amount: 48,
        crit: false,
        effectiveness: Double,
    ),
    TurnStarted(
        n: 2,
    ),
    MoveUsed(
        side: 0,
        slot: 0,
        move_id: "singe",
    ),
    DamageDealt(
        target: 1,
        target_slot: 1,
        amount: 17,
        crit: true,
        effectiveness: Half,
    ),
    Fainted(
        target: 1,
        slot: 1,
    ),
    ExpGained(
        side: 0,
        slot: 0,
        amount: 321,
    ),
    ExpGained(
        side: 0,
        slot: 1,
        amount: 321,
    ),
    BattleEnded(
        outcome: Won(
            winner: 0,
        ),
    ),
]
