// P3 gate replay — recorded by badge_run.rs (UPDATE_REPLAYS=1).
// 1010 inputs from one seed; do not hand-edit.
(
    seed: 12245473,
    world: Game,
    inputs: [
        Step(Left),
        Step(Left),
        Step(Left),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Interact,
        Interact,
        Interact,
        Step(Up),
        Interact,
        Interact,
        Interact,
        Interact,
        Interact,
        Interact,
        Step(Down),
        Step(Down),
        Step(Down),
        Step(Down),
        Step(Right),
        Step(Right),
        Step(Right),
        Step(Right),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Interact,
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Interact,
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Interact,
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Battle(Item),
        Battle(Move(
            slot: 1,
        )),
        Interact,
        Step(Up),
        Step(Up),
        Step(Left),
        Step(Left),
        Step(Left),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Battle(Bell),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Battle(Move(
            slot: 1,
        )),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Battle(Move(
            slot: 1,
        )),
        Battle(Item),
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Battle(Move(
            slot: 1,
        )),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Battle(Move(
            slot: 1,
        )),
        Battle(Item),
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Step(Up),
        Step(Up),
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Battle(Move(
            slot: 0,
        )),
        Battle(Move(
            slot: 0,
        )),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Battle(Move(
            slot: 1,
        )),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Battle(Move(
            slot: 1,
        )),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Battle(Move(
            slot: 1,
        )),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Battle(Move(
            slot: 1,
        )),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Battle(Move(
            slot: 0,
        )),
        Battle(Move(
            slot: 0,
        )),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Battle(Move(
            slot: 1,
        )),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Battle(Move(
            slot: 1,
        )),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Battle(Move(
            slot: 1,
        )),
        Step(Up),
        Step(Up),
        Battle(Move(
            slot: 1,
        )),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Battle(Move(
            slot: 1,
        )),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Battle(Move(
            slot: 1,
        )),
        Step(Down),
        Step(Down),
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Step(Up),
        Step(Up),
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Battle(Move(
            slot: 0,
        )),
        Step(Right),
        Step(Right),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Left),
        Step(Left),
        Step(Left),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Battle(Move(
            slot: 1,
        )),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Battle(Move(
            slot: 1,
        )),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Step(Down),
        Step(Down),
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Battle(Move(
            slot: 1,
        )),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Battle(Move(
            slot: 1,
        )),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Battle(Move(
            slot: 1,
        )),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Battle(Move(
            slot: 1,
        )),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Step(Down),
        Step(Down),
        Step(Right),
        Step(Right),
        Step(Right),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Interact,
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Interact,
        Step(Up),
        Step(Up),
        Step(Up),
        Interact,
        Battle(Move(
            slot: 0,
        )),
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Interact,
        Step(Up),
        Step(Up),
        Step(Up),
        Interact,
        Battle(Move(
            slot: 1,
        )),
        Interact,
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Interact,
        Interact,
        Step(Left),
        Step(Left),
        Step(Left),
        Step(Left),
        Step(Left),
        Step(Left),
        Interact,
        ShopClose,
        Step(Down),
        Step(Down),
        Step(Up),
        Step(Up),
        Interact,
        ShopCursor(1),
        ShopCursor(1),
        ShopCursor(1),
        ShopCursor(1),
        ShopBuy,
        ShopBuy,
        ShopBuy,
        ShopCursor(1),
        ShopBuy,
        ShopBuy,
        ShopBuy,
        ShopClose,
        Step(Right),
        Step(Right),
        Step(Right),
        Step(Right),
        Step(Right),
        Step(Right),
        Interact,
        Interact,
        Step(Right),
        Step(Right),
        Step(Right),
        Step(Right),
        Step(Right),
        Step(Right),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Left),
        Step(Left),
        Step(Down),
        Step(Down),
        Interact,
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Interact,
        Step(Up),
        Step(Up),
        Step(Right),
        Step(Right),
        Step(Right),
        Step(Right),
        Step(Right),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Left),
        Step(Left),
        Step(Left),
        Step(Down),
        Step(Down),
        Interact,
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Interact,
        Step(Up),
        Step(Up),
        Step(Left),
        Step(Left),
        Step(Left),
        Step(Left),
        Step(Left),
        Step(Left),
        Step(Up),
        Step(Up),
        Step(Up),
        Step(Right),
        Step(Right),
        Step(Right),
        Step(Right),
        Step(Right),
        Step(Up),
        Step(Up),
        Step(Up),
        Interact,
        Interact,
        Battle(Move(
            slot: 1,
        )),
        Battle(Item),
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Battle(Move(
            slot: 1,
        )),
        Interact,
        Interact,
        Interact,
    ],
    expect: (
        map: "hall_1",
        position: (6, 12),
        flags: [
            "badge.1",
            "hall.1.cleared",
            "performance.lumen_hum",
            "starter.fanfyre",
            "story.rival1.defeated",
        ],
        min_dialogue_lines: 23,
        warped: true,
        party_levels: Some([
            13,
            10,
        ]),
        money: Some(986),
    ),
)
