// route_1 — generated slice map (P3). Bottom row first; y up.
MapDef(
    id: "route_1",
    name_key: "map.route_1",
    width: 14,
    height: 30,
    ground: [
        3, 3, 3, 3, 3, 3, 2, 2, 3, 3, 3, 3, 3, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3,
        3, 3, 3, 3, 3, 3, 2, 2, 3, 3, 3, 3, 3, 3,
    ],
    decor: [
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
    ],
    overhang: [
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
    ],
    collision: [
        1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
    ],
    patches: [
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
        0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
        0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
        0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
        0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
        0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
        0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
        0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
        0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
    ],
    triggers: [
        (at: (1, 20), kind: Script(path: "rival_ambush.script.ron")),
        (at: (2, 20), kind: Script(path: "rival_ambush.script.ron")),
        (at: (3, 20), kind: Script(path: "rival_ambush.script.ron")),
        (at: (4, 20), kind: Script(path: "rival_ambush.script.ron")),
        (at: (5, 20), kind: Script(path: "rival_ambush.script.ron")),
        (at: (6, 20), kind: Script(path: "rival_ambush.script.ron")),
        (at: (7, 20), kind: Script(path: "rival_ambush.script.ron")),
        (at: (8, 20), kind: Script(path: "rival_ambush.script.ron")),
        (at: (9, 20), kind: Script(path: "rival_ambush.script.ron")),
        (at: (10, 20), kind: Script(path: "rival_ambush.script.ron")),
        (at: (11, 20), kind: Script(path: "rival_ambush.script.ron")),
        (at: (12, 20), kind: Script(path: "rival_ambush.script.ron")),
        (at: (6, 0), kind: Warp(map: "pausa_village", to: (9, 12), facing: Down)),
        (at: (6, 29), kind: Warp(map: "prelude_town", to: (10, 1), facing: Up)),
        (at: (7, 0), kind: Warp(map: "pausa_village", to: (10, 12), facing: Down)),
        (at: (7, 29), kind: Warp(map: "prelude_town", to: (11, 1), facing: Up)),
    ],
    npcs: [
        (id: "rt1_tuner", at: (4, 7), facing: Right, sprite: "npc.trainer", script: Some("rt1_tuner.script.ron"), behavior: Static, sight_range: 3),
        (id: "rt1_busker", at: (9, 12), facing: Left, sprite: "npc.trainer", script: Some("rt1_busker.script.ron"), behavior: Static, sight_range: 3),
        (id: "rt1_percussionist", at: (4, 17), facing: Right, sprite: "npc.trainer", script: Some("rt1_percussionist.script.ron"), behavior: Static, sight_range: 3),
        (id: "rt1_choirboy", at: (9, 23), facing: Left, sprite: "npc.trainer", script: Some("rt1_choirboy.script.ron"), behavior: Static, sight_range: 3),
    ],
    encounters: Some((
        patch_rate_pct: 12,
        slots: [("tremole", 2, 4, 20), ("pipling", 2, 4, 20), ("burrbass", 3, 5, 10), ("buzzoon", 3, 5, 10), ("solfawn", 3, 4, 10), ("zapresto", 3, 5, 10), ("glissicle", 4, 5, 5), ("timpanite", 4, 5, 5), ("dirgeist", 4, 6, 4), ("carilloy", 4, 6, 4), ("rattacca", 6, 7, 1), ("soarprano", 6, 7, 1)],
    )),
    night_encounters: Some((
        patch_rate_pct: 12,
        slots: [("dirgeist", 3, 6, 20), ("glissicle", 3, 6, 20), ("tremole", 2, 4, 10), ("buzzoon", 3, 5, 10), ("pipling", 2, 4, 10), ("zapresto", 3, 5, 10), ("burrbass", 3, 5, 5), ("timpanite", 4, 5, 5), ("carilloy", 4, 6, 4), ("solfawn", 3, 4, 4), ("soarprano", 6, 7, 1), ("rattacca", 6, 7, 1)],
    )),
    obstacles: [
        (at: (9, 15), kind: Brush),
        (at: (9, 16), kind: Brush),
        (at: (9, 17), kind: Brush),
    ],
    music: None,
)
